<a href="https://colab.research.google.com/github/Celes-ovo/Pandas/blob/main/1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

s = pd.Series([909976, 8615246, 2872086, 2273305])

In [ ]:
s

Stockholm     909976
London       8615246
Rome         2872086
Paris        2273305
Name: Population, dtype: int64

In [ ]:
list(s)

[909976, 8615246, 2872086, 2273305]

In [ ]:
s.values

array([ 909976, 8615246, 2872086, 2273305])

In [ ]:
s.index = ['Stockholm', 'London', 'Rome', 'Paris']
s.name = 'Population'
s

Stockholm     909976
London       8615246
Rome         2872086
Paris        2273305
Name: Population, dtype: int64

### Indexing과 달리 보여 줌

In [ ]:
s['London' : 'Rome']

London    8615246
Rome      2872086
Name: Population, dtype: int64

### mean, std, min, max, ...

In [ ]:
print(s.mean())
print(s.std())
print(s.min())
print(s.max())

3667653.25
3399048.5005155364
909976
8615246

### describe : 다양한 정보를 쫙 뽑고 싶을 때

In [ ]:
s.describe()

count    4.000000e+00
mean     3.667653e+06
std      3.399049e+06
min      9.099760e+05
25%      1.932473e+06
50%      2.572696e+06
75%      4.307876e+06
max      8.615246e+06
Name: Population, dtype: float64

### Plot

In [ ]:
s.plot('line')

TypeError: ignored

## Dataframe

In [ ]:
df = pd.DataFrame([[909976, "Sweden"],
                   [8615246, "United Kingdom"],
                   [2872086, "Italy"],
                   [2273305, "France"]])
df

         0               1
0   909976          Sweden
1  8615246  United Kingdom
2  2872086           Italy
3  2273305          France

### info

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Sweden to China
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  4 non-null      int64
 1   State       4 non-null      object
dtypes: int64(1), object(1)
memory usage: 268.0+ bytes

---

In [ ]:
df.index = ["Stockholm", "London", "Rome", "Paris"]
df.columns = ["Population", "State"]
df

           Population           State
Stockholm      909976          Sweden
London        8615246  United Kingdom
Rome          2872086           Italy
Paris         2273305          France

In [ ]:
df['Population'].values

array([ 909976, 8615246, 2872086, 2273305])

In [ ]:
df = pd.DataFrame(
    [[909965, 'Stockholm'],
    [431341, 'Seoul'],
    [653322, 'Tokyo'],
    [234556, 'Beijing']],

    index = ['Sweden', 'Korea', 'Japan', 'China'],
    columns = ['Population', 'State']
)

In [ ]:
df

        Population      State
Sweden      909965  Stockholm
Korea       431341      Seoul
Japan       653322      Tokyo
China       234556    Beijing

## loc : label

Series

In [ ]:
df.loc['Sweden']

Population       909965
State         Stockholm
Name: Sweden, dtype: object

Dataframe (여러 개를 가져올 때)

In [ ]:
df.loc[['Sweden', 'Korea']]

        Population      State
Sweden      909965  Stockholm
Korea       431341      Seoul

하나일 땐 Series

In [ ]:
df.loc[['Sweden', 'Korea'], 'Population']

Sweden    909965
Korea     431341
Name: Population, dtype: int64

loc : accessor(접근자)

## iloc : location

In [ ]:
df.iloc[0]

Population       909965
State         Stockholm
Name: Sweden, dtype: object

---
## Reading and writing csv files

In [ ]:
df.to_csv('test.csv', index=False)

In [ ]:
df_pop = pd.read_csv('test.csv', delimiter=',', encoding='utf-8', header=0)

Skiprows

In [ ]:
df_pop_2 = pd.read_csv('test.csv', delimiter=',', encoding='utf-8', header=0, skiprows=3)

In [ ]:
df_pop

   Population      State
0      909965  Stockholm
1      431341      Seoul
2      653322      Tokyo
3      234556    Beijing

In [ ]:
df_pop_2

   653322    Tokyo
0  234556  Beijing

In [ ]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  4 non-null      int64
 1   State       4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes